@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;600;700&family=Montserrat:wght@500&display=swap');
/* NavBar */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color:white;
  font-size: large;
}
.li .a .button{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: 2962ff;
  text-decoration: none;
} 
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.img{
 height: 60px;
 cursor: pointer;
}

.nav_links {
  list-style: none;
} 

.nav_links li {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: #283b8a;
}

.nav_links li a:hover {
  color: black;
}

button {
  font-family: 'Montserrat', sans-serif;
  transition: all 0.3s ease 0s;
  font-size: 1.8rem;
  text-align: center;
  border: none;
  margin-bottom: 1rem;
  text-decoration: none;
  color: #283b8a;
  background-color: white;
}

button:hover{
  color: black;
}

.moon {
  padding: auto;
  background-color: white;
  box-shadow: 0 0.4rem 1.4rem 0 black;
  width : 30px;
  cursor: pointer;
}



:root {
    background-color: #283b8a;
    font-size: 62.5%;
  }
  



  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 1rem;
  }
  
  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 5.4rem;
    color: #283b8a;
    margin-bottom: 5rem;
  }
  
  h1 > span {
    font-size: 2.4rem;
    font-weight: 500;
  }
  
  h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4.2rem;
    margin-bottom: 4rem;
    font-weight: 700;
  }
  
  h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.8rem;
    font-weight: 500;
  }
  
  /* UTILITIES */
  
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
  }
  
  .container > * {
    width: 100%;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
  }
  
  .flex-center {
    justify-content: center;
    align-items: center;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .text-center {
    text-align: center;
  }
  
  .hidden {
    display: none;
  }
  
  /* BUTTONS */
  .btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #283b8a;
    background-color: white;
  }
  
  .btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 black;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  }
  
  .btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
  }

  /* FORMS */
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 0.1rem 1.4rem 0 #283b8a;
  }
  
  input::placeholder {
    color: #aaa;
  }

  /*    LighrNightMode      */
  
  .dark-theme{
    --primary--color:#283b8a;
    --secondary--color: white;
  }
